// --------------------------------------------------
// Layout
// --------------------------------------------------
// Layout rules
// -------------------------
/*#ios-overflow-solution{
    position: relative;
}*/
.container {
    max-width: $mainContainer;
    padding: $containerMobVerIndent $containerMobHorIndent;
    margin: 0 auto;
}

#section-contact {
    height: 100%;
    width: 100%;
    //padding: $contactPadding;
    opacity: 0.95;
    position: fixed;
    overflow: auto;
    display: none;
}

#section-contact form {
    margin-left: 0rem;
}

#section-header-jumbotron {
    min-height: $headerJumbotronHeight;
    border-bottom: 1rem solid $prime;
    margin: $headerJumbotronMargin;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

.name-container {
    position: relative;
    top: 50%;
    margin-top: -0.625em;
    //float: left; //
    //height:$headerHeight;//
    //line-height: $headerHeight;//
}

.navbar {
    //height:$headerHeight;//
    //line-height: $headerHeight;//
    position: relative;
    float: right; //
    top: 50%;
    margin-top: -0.625em;
}
.navbar .navbar-container{
    //display: inline-block;
}

.humburger-menu {
    display: inline-block;
    .strip {
        height: 0.25rem;
        width: 3rem;
        background-color: $white;
        margin: 0.6rem 0;
        position: relative;
    }
    &:hover {
        opacity: 0.8;
    }
}

#section-services {}

#section-about {
    //border-top:1rem solid $prime;   
}

#section-work {}

#section-work .project {
    height: 18.8rem;
    width: 24.8rem;
    border: 0.5rem solid $white;
    border-radius: 2%;
    //padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    overflow: hidden;
    box-shadow: 0 0 0.1rem $gray;
    .project-mask,
    .project-info {
        height: 20rem; //18.8rem;
        width: 26rem; //24.8rem;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 0; //6px;
        left: 0; //6px;
        right: 0;
    }
    .project-mask {
        background-color: $yellow;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

#section-clients {}

#section-get-in-touch {}

footer {}